* {
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 45px 5px 5px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 696;
    color: hsl(0, 0%, 10%);
    align-items: center;
    min-height: 100vh;
    position: relative;
    background-color: hsl(0, 0%, 90%);

}

.main-container {
    align-items: center;
}
/* responsive images */
img {
    max-width: 50%;
}

button:focus, button:active {
    outline: 0;
}

button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

/* horizontal flex container */
.flx-row {
    display: flex;
    flex-flow: row nowrap;
}

/* vertical flex container */

.flx-column {
    display: flex;
    flex-flow: column nowrap;
}


.hidden {
    display: none !important;
}

/* Title block */

.title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    border: 3px solid hsl(0, 0%, 10%);
    border-radius: 6px;
    padding: 17px 22px 16px 31px;
    margin: 0 0 47px;
    margin-bottom: 60px;
}

.title-block ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 30px;
    line-height: 1.2;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    border: 2px solid whitesmoke;
    border-radius: 6px;
    padding: 17px 22px 16px 31px;
    margin: 0 0 47px;
    background-color: hsl(0, 0%, 10%);
}

.user-name {
    font-size: 30px;
    color:  hsl(0, 0%, 90%);
    letter-spacing: 1px;
    margin: 0 0 2px;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(0, 0%, 10%);
    width: 150px;
    border-radius: 6px;
    height: 115px;
    padding: 14px 0 0;
    border: 2px solid whitesmoke;
}

.score-name {
    color: hsl(0, 0%, 90%); 
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px;
    letter-spacing: 1px;
    
}

.score-number {
    color: hsl(0, 0%, 90%);
    font-size: 62px;
    font-weight: 700;
    line-height: .8;
    
}
/* user choice */

.user-choice {
    background-size: 340px;
    width: 100%;
    max-width: 700px;
    position: relative;
    height: 467px;
    }

.game-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    position: absolute;
}

.game-cards img {
    position: relative;
    z-index: 2;
}

.game-cards::before {
    content: '';
    width: 115px;
    height: 115px;
    border-radius: 50%;
    box-shadow: inset 0 3px 5px hsl(229, 50%, 6%);
    background: rgba(255, 255, 255, 1);
    position: absolute;
    z-index: 1;
    transition: background .4s ease, box-shadow .4s ease;
}

.game-cards:hover::before {
    background: linear-gradient(45deg, #ff2d55, #5856d6);
    box-shadow: none;
}           

.game-cards.rock {
    background: linear-gradient(hsl(0, 0%, 89%), hsl(0, 2%, 10%));
box-shadow: 0px 6px 0px 0px hsl(0, 0%, 10%);
top: 0;
left: 278px;
}

.game-cards.paper {
    background: linear-gradient(hsl(0, 0%, 89%), hsl(0, 2%, 10%));
box-shadow: 0px 6px 0px 0px hsl(0, 0%, 10%);
top: 130px;
right: 115px;
}

.game-cards.scissors {
    background: linear-gradient(hsl(0, 0%, 89%), hsl(0, 2%, 10%));
box-shadow: 0px 6px 0px 0px hsl(0, 0%, 10%);
bottom: 0;
right: 178px;
}

.game-cards.lizard {
    background: linear-gradient(hsl(0, 0%, 89%), hsl(0, 2%, 10%));
box-shadow: 0px 6px 0px 0px hsl(0, 0%, 10%);
bottom: 0;
left: 180px;
}

.game-cards.spock {
    background: linear-gradient(hsl(0, 0%, 89%), hsl(0, 2%, 10%));
box-shadow: 0px 6px 0px 0px hsl(0, 0%, 10%);
top: 130px;
left: 115px;
}


/* Starting Game */
.chosen-main {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    padding: 30px 10px;
}

.chosen-main p {
    font-size: 22px;
    line-height: 1;
    margin: 0 0 68px;
}

.chosen-main .game-cards {
    height: 300px;
    width: 299px;
    position: static;
}

.chosen-main .game-cards::before {
    height: 222px;
    width: 228px;
}

.chosen-main .game-cards img {
    width: 100px;
}

.chosen {
    height: 100%;
    width: 50%;
    align-items: center;
}

/* outcome */

.result {
    white-space: nowrap;
    font-size: 32px;
}

.result .title {
    line-height: 1;
    margin: 55px 0 15px;
    font-size: 55px;
}

/* play again btn */

.result button {
    border: 2px solid #34c759; 
    padding: 15px 65px;
    border-radius: 25px;
    cursor: pointer;
    background: linear-gradient(45deg, #ff2d55, #5856d6);
    color: white;
    background-size: 200% 100%;
    background-position: left bottom;
    transition: background-position 0.3s ease, border-color 0.3s ease;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

.result button:hover {
    transform: scale(1.05);
    background-color: #ff9500;
    background-position: right bottom;
    border-color: #ff3b30;
}

/* rules */

.rules-btn {
    border: 2px solid #34c759;
    padding: 15px 65px; 
    border-radius: 25px; 
    position: absolute;
    right: 20px;
    top: 280px;
    cursor: pointer;
    color: white; 
    background: linear-gradient(45deg, #ff2d55, #5856d6); 
    background-size: 200% 100%;
    background-position: left bottom;
    transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

.rules-btn:hover {
    transform: scale(1.05);
    background-color: #ff9500;
    background-position: right bottom;
    border-color: #ff3b30;
}

/* modal */

.modal.active, .modal-behind.active {
    display: block;
}

.modal-behind {
    display:none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 50%);

}

.modal {
    display: none;
    position: absolute;
    top: 40px;
    z-index: 3;
    background-color:  #ffffff;
    border-radius: 6px;
    padding: 40px 30px 30px;
    max-width: 700px;
    width: 100%;
}

.modal .close-img {
    position: absolute;
    top: 25px;
    right: 10px;
    cursor: pointer;
    max-width: 10%;
}

.modal .rules-title {
    color: black;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    border: solid 2px black;
    
}

.modal .rules {
    text-align: center;
}

/* credits */

.credits {
    position: static;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0; 
    text-align: center;
    background-color: #333;
    color: white;
    padding: 0 0;
    border-top: solid 2px black; 
    font-size: 12px; 
    z-index: 10;
    margin-top: 50px;
    
}

.credits a {
    color: #f8f8f8; 
    text-decoration: none; 
    margin: 0 5px; 
}

.credits a:hover {
    text-decoration: underline;
}

/* media queries */

@media only screen and (max-width: 1366px) {

    .chosen-main .game-cards {
        height: 200px;
        width: 200px;
        
    }

    .chosen-main .game-cards::before {
        height: 150px;
        width: 150px;
    }

    .chosen-main .game-cards img {
        width: 70px;
    }

    .result .title {
        font-size: 55px;
    }

    .result button {
        padding: 15px 65px;
    }
}

@media only screen and (max-width: 768px) {

    body {
        padding: 30px 10px 5px;
    }

    .title-block {
        border-radius: 6px;
        padding: 12px 12px 12px 12px;
        margin: 0 0 90px;
        
    }
    
    .user {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 17px 22px 16px 31px;
        margin: 0 0 0px;
        width: 52%;  
        max-width: 375px; 
    } 

    .score {
        width: 79px;
        height: 73px;
        padding: 10px 0 0;
    }

    .score-number {
        font-size: 39px;
    }

    .score-name {
        font-size: 11px;
    }

    .title-block ul {
        font-size: 13px;
        line-height: 0.9;
        margin: 11px 0 0;
    }

    .user-choice {
        height: 308px;
        background-size: 220px;
        max-width: 375px;
    }

    .user-choice .game-cards {
        height: 100px;
        width: 100px;
    }

    .user-choice .game-cards::before {
        height: 76px;
        width: 76px;
    }

    .user-choice .game-cards img {
        width: 36px;
    }

    .game-cards.rock {
        top: 0;
        left: 140px;
    }

    .game-cards.paper {
        top: 80px;
        right: 15px;
    }

    .game-cards.scissors {
        bottom: 4px;
        right: 52px;
    }

    .game-cards.lizard {
        bottom: 0;
        left: 55px;
    }

    .game-cards.spock {
        top: 86px;
        left: 20px;
    }

    .chosen-main .game-cards {
        height: 145px;
        width: 150px;
    }

    .chosen-main .game-cards::before {
        height: 115px;
        width: 115px;
    }

    .chosen-main .game-cards img {
        width: 54px;
    }

    .result {
        position: absolute;
        top: 370px;
        left: 0;
        right: 0;
    }

    .result .title {
        font-size: 57px;
        margin: 53px 0 19px;
    }

    .result button {
        padding: 15px 65px 13px;
        font-size: 17px;
        letter-spacing: 2px;
    }

    .rules-btn {
        position: absolute;
        height: 40px;
        right: inherit;
        top: 600px;
        z-index: 2;
        background-repeat: repeat;
        border: 1px solid #34c759;
        padding: 5px 25px; 
        border-radius: 25px; 
        cursor: pointer;
        color: white; 
        background: linear-gradient(45deg, #ff2d55, #5856d6); 
        transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: bold;
        
    }

    .rules-btn:hover {
        transform: scale(1.05);
        background-color: #ff9500;
        background-position: right bottom;
        border-color: #ff3b30;
    }

    .chosen-main {
        padding: 0 5px;
    }

    .chosen-main p {
        font-size: 17px;
        line-height: 1;
        margin: 0 0 11px;
    }

    .modal {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        flex-flow: column;
        align-items: center;
        max-width: inherit;
    }

    .modal.modal.active {
        display: flex;
    }

    .close-img {
        top: 10px;
    }

    .modal .rules-title {
        font-size: 30px;
    }

    .credits {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0; 
        text-align: center;
        background-color: #333;
        color: white;
        padding: 0 0;
        border-top: solid 2px black; 
        font-size: 12px; 
        z-index: 10;
        margin-top: 50px;


}
}